#calculator-container { 
  background-color: #e7e7e7; 
  border: solid 2px #6B8C00; 
  border-radius: .3rem; 
  padding: 1rem;
  overflow: hidden;
}
#calculator-container h2 {
	padding: 1rem;  
	background: linear-gradient(#6B8C00, #7B9C10);
	border-bottom: 0;
	color: #fff; 
	margin: -1rem -1rem 1rem -1rem;
	font-weight: bold;
}

#calculator-container h3 { color: #6B8C00;  margin: .5rem 0; }
#calculator-container label { display:block; font-weight:bold; padding: .5rem 0; }
#calculator-container label span { font-weight:normal; }
#calculator-container .result-box {  
  background: #fff;
  border-radius: .3rem;
  border: 1px solid #ccc;
  min-height: 150px;
  padding: 1rem;
}

/* form elements */
#calculator-container input:focus, #calculator-container select:focus { border:1px solid #6e9934; outline: none; }
#calculator-container input[type="text"].empty { border-color:#d00000; }

/* calculator specifics */
#calculator-container input, #calculator-container select { width: 100%; }
#calculator-container input.dollars { text-align: right; }
#calculator-container input#price { margin-right: 1rem;  }
#results p { display: block; font-weight: bold; line-height: 2.5rem; overflow: hidden; }
#results p:last-of-type { border-top: dotted 1px #ccc; }
#results p span { float: right; color: #6b8e06; font-size: 1.8rem; }

#calculator-container.standalone { box-sizing: border-box; height:100vh; border: 0; border-radius: 0; }

@media only screen and (min-width: 45em) { /* adapt the gui on large tablet */
  #calculator-container input, #calculator-container select { width: 12rem; }
  #calculator-container div.flex { display: flex; }
  #calculator-container div.flex .break { flex: 0 1 50%; }
}

@media all and (display-mode: standalone) {
  .wrapper aside, .wrapper header, .wrapper section, .wrapper footer { display:none }
}
