/*--------------------------------------------------------------------------
* Project     : MoneySmart - MyApp
* Description : Main CSS.
--------------------------------------------------------------------------*/
/*
* Imports
---------------------------------------*/
//* Your Sass Mixin
.app-container {
  @import "bourbon/bourbon";
  @import "base/grid-settings";
  @import "neat/neat";
  @import "base/base";

  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

//* All other imports

/*
* Site wide
---------------------------------------*/
.app-container {

}

/*
* Modules
---------------------------------------*/

/*
* Pages
---------------------------------------*/

/*
* Plugins
---------------------------------------*/